<div class="content">
  <form method="post">
    <fieldset>
      <div class="container text-center" style="position: absolute;  top: 202px;  margin-left: -60%;">
        <legend>Uzupełnij dane</legend>

        <div class="form-group">
          <label>Tytuł: </label>
          <input [(ngModel)]="item.commentText" name="title" placeholder="Wpisz komentarz">
        </div>
        <button type="reset">Wyczyść</button>
        <button type="submit" (click)="setData(item)">Wyślij</button>
      </div>
    </fieldset>
  </form>
</div>
