<div class="content">
  <form method="post">
    <fieldset>
      <div class="container text-center dynamic-container">
        <legend>Uzupełnij dane</legend>

        <div class="form-group">
          <label>Tytuł: </label>
          <input [(ngModel)]="item.issueTitle" name="title" placeholder="Wpisz tytul problemu">
        </div>
        <div class="form-group">
          <label>Opis: </label>
          <textarea [(ngModel)]="item.description" name="title" placeholder="Wpisz opis problemu"> </textarea>
        </div>
        <button type="reset">Wyczyść</button>
        <button type="submit" (click)="setData(item)">Wyślij</button>
      </div>
    </fieldset>
  </form>
</div>